/* ------------------------------------------------------------Filtered places */

#places {
 top: 50px;
 background-color: black;
 color: white;
 font-size: 14px;
 padding: 15px;
 display: flex;
 text-align: center;
 justify-content: center;
}

#places span {
 margin-right: 15px;
 font-size: 14px;
 margin-top: 20px;
}

label {
 font-size: 12px;
 margin-right: 4px;
 margin-top: 20px;
}

input[name="option"] {
 height: 10px;
 margin-top: 23px;
}

/* -------------------------------------------------------------Place listing, country select and search field */

#listing {
 position: absolute;
 width: auto;
 height: 75vh;
 overflow: auto;
 left: 0px;
 top: 152px;
 cursor: pointer;
}

#locationField {
 position: absolute;
 width: 250px;
 height: 25px;
 top: 180px;
 z-index: 5;
 background-color: #fff;
}

#controls {
 position: absolute;
 width: 250px;
 top: 140px;
 z-index: 5;
 background-color: #fff;
}

#autocomplete {
 width: 100%;
}

#country {
 width: 100%;
 height: 25px;
}

/* --------------------------------------------------------------------------------- Results */

.placeIcon {
 width: 20px;
 height: 34px;
 margin: 4px;
}

.hotelIcon {
 width: 24px;
 height: 24px;
}

table {
 font-size: 12px;
}

#resultsTable {
 border-collapse: collapse;
 width: 240px;
}

#rating {
 font-size: 13px;
 font-family: Arial Unicode MS;
}

.iw_table_row {
 height: 18px;
}

.iw_attribute_name {
 font-weight: bold;
 text-align: right;
}

.iw_table_icon {
 text-align: right;
}

/* Media Queries */

@media (min-width: 768px) {
 #locationField {
  width: 350px;
  margin-top: 100px;
 }
 #controls {
  width: 350px;
  margin-top: 20px;
 }
 #listing {
  height: 355px;
 }
 input[name="option"] {
  height: 14px;
  padding: 15px;
 }
 label {
  font-size: 16px;
  margin-right: 5px;
  padding-right: 15px;
 }
 #places span {
  font-size: 16px;
 }
 #locationField {
  top: 107px;
 }
}
