/* ------------------------------------------------------------Filtered places */

#places {
 top: 50px;
 background-color: black;
 color: white;
 font-size: 14px;
 padding: 15px;
 display: flex;
 text-align: center;
 justify-content: center;
}

#places span {
 margin-right: 15px;
 font-size: 14px;
 margin-top: 20px;
}

label {
 font-size: 12px;
 margin-right: 4px;
 margin-top: 20px;
}

input[name="option"] {
 height: 10px;
 margin-top: 23px;
}

/* -------------------------------------------------------------Place listing, country select and search field */

#centersearch {
 display: flex;
 justify-content: center;
 text-align: center;
}

#locationField {
 position: absolute;
 width: 250px;
 height: 22px;
 top: 240px;
 z-index: 5;
 background-color: #fff;
}

#controls {
 position: absolute;
 width: 250px;
 top: 200px;
 z-index: 5;
 background-color: #fff;
}

#autocomplete {
 width: 100%;
}

#country {
 width: 100%;
}

/* --------------------------------------------------------------------------------- Results */

.placeIcon {
 width: 20px;
 height: 34px;
 margin: 4px;
}

.hotelIcon {
 width: 24px;
 height: 24px;
}

table {
 font-size: 12px;
}

#listing {
 visibility: hidden;
 height: 0px;
}

#resultsTable {
 border-collapse: collapse;
 width: 240px;
}

#rating {
 font-size: 13px;
 font-family: Arial Unicode MS;
}

.iw_table_row {
 height: 18px;
}

.iw_attribute_name {
 font-weight: bold;
 text-align: right;
}

.iw_table_icon {
 text-align: right;
}

/* Media Queries */

@media (min-width: 692px) {
 
 input[name="option"] {
  margin-top: 25px;
 }
 
}

@media (min-width: 768px) {
 
 input[name="option"] {
  height: 14px;
  padding: 15px;
 }
 
 label {
  font-size: 16px;
  margin-right: 5px;
  padding-right: 15px;
 }
 
 #places span {
  font-size: 16px;
 }
 
 #controls {
  top: 420px;
 }
 
 #locationField {
  top: 460px;
 }
 
}

@media (min-width: 1200px) {
 
 
 #locationField {
  width: 350px;
 }
 
 #controls {
  width: 350px;
 }
 
 #autocomplete, #country {
  font-size: 16px;
 }
}

@media (min-height: 1080px) {
 #locationField {
  top: 530px;
 }
 
 #controls {
  top: 490px;
 }
}

@media (min-height: 1366px) {
  #locationField {
  top: 630px;
 }
 
 #controls {
  top: 590px;
 }
}
