 @import url('https://fonts.googleapis.com/css?family=Roboto:400|Exo: 400,500,800');

 html,
 body {
  overflow-x: hidden;
 }

 /* Navigation */

 #nav {
  margin: 0;
  padding: 0;
 }

 #nav li {
  padding: 0;
 }

 #navbar {
  margin: 0px;
  border: 0;
  padding: 0;
 }

 .menuitem {
  height: 60px;
  width: 20%;
  margin-right: 0;
  display: flex;
  text-align: center;
  padding: 0;
 }

 .menuitem a {
  width: 100%;
  text-decoration: none;
  color: black;
  height: 60px;
  -webkit-text-stroke-width: 1px;
 }

 .menuitem a i {
  padding-top: 12px;
  display: block;
  color: #fafafa;
  font-size: 14px;
 }

 .menuitem span {
  display: block;
  width: 100%;
  padding-top: 5px;
  text-align: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
 }

 .list-inline {
  display: flex;
  text-align: center;
  justify-content: center;
 }


 /*-----------------------------------------------Navbar*/

 .container-fluid>.navbar-header {
  margin-left: 0px;
  margin-right: 0px;
 }

 .navbar-default .navbar-nav>li>a {
  color: white;
 }

 .navbar-default .navbar-collapse {
  border-color: transparent;
 }

 .navbar-default .navbar-toggle {
  border: 0;
 }

 .navbar-default .navbar-toggle:hover {
  background-color: transparent;
 }
 
 .navbar-default .navbar-toggle .icon-bar {
  background-color: black;
 }

 .navbar-default .navbar-nav a {
  font-weight: bold;
 }

 .navbar-default .navbar-nav>.active>a,
 .navbar-default .navbar-nav>.active>a:focus,
 .navbar-default .navbar-nav>.active>a:hover {
  color: white;
  background: transparent;
 }

 .navbar-default .navbar-nav>li>a:focus,
 .navbar-default .navbar-nav>li>a:hover {
  color: white;
 }

 .hvr-sweep-to-bottom:before {
  background: rgba(0, 0, 0, 0.5);
  height: 60px;
 }

 .navbar {
  margin-bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: transparent;
  border-color: #fafafa;
  border: 0;
 }

 .navbar-header .navbar-brand {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 400;
  padding-right: 10px;
  color: black;
  -webkit-text-stroke-width: 2px;
 }

 .navbar-header .navbar-brand:hover {
  color: white;
 }

 .navbar .navbar-brand:hover {
  color: white;
 }

 .navbar-header .navbar-nav>li>a {
  color: white;
 }

 .navbar-header .navbar-collapse {
  border-color: transparent;
 }

 .navbar-header .navbar-toggle {
  border: 0;
 }

 .navbar-header .navbar-toggle:hover {
  background-color: transparent;
 }

 .navbar-header .navbar-toggle .icon-bar {
  background-color: black;
 }

 .navbar-header .navbar-nav a {
  font-weight: bold;
 }

 .navbar-header .navbar-nav>.active>a,
 .navbar-default .navbar-nav>.active>a:focus,
 .navbar-default .navbar-nav>.active>a:hover {
  color: white;
  background: transparent;
 }

 .navbar-header .navbar-nav>li>a:focus,
 .navbar-default .navbar-nav>li>a:hover {
  color: white;
 }


 /* Map */

 /* Set the size of the div element that contains the map */

 #map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
  -webkit-overflow-scrolling: touch;
 }

 /* Footer */

 #footer {
  width: 100%;
  color: white;
  height: 100px;
  display: flex;
  text-align: center;
  justify-content: center;
 }

 /* Colors */

 .footer-bg {
  background-color: grey;
 }

 .nav-bg {
  background-color: lightpink;
 }

 .nav-color {
  background-color: lightpink;
 }

 /* Media Queries */

 @media (min-width: 768px) {
  #map {
   margin-top: 60px;
  }
 }

 /* Buttons */

 .btn.btn-secondary {
  margin-top: 20px;
  margin-bottom: 20px;
 }

 /* Section */

 .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
 }

 /* jQuery */

 .addMargins {
  margin-top: 110px;
 }

 .removeMargins {
  margin-top: 60px;
 }
 
 /* Destinations */
 
.destination {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-size: 20px;
 }
 