 /* Set the size of the div element that contains the map */

 #map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
 }

 .container {
  background-color: grey;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  width: 100%;
  color: white;
  margin-top: 300px;
  height: 100px;
  display: flex;
  text-align: center;
  justify-content: center;
 }
 
 .row {
  margin-right: 0;
  margin-top: 40px;
 }
 

 